<!DOCTYPE html>

<app-navigation></app-navigation>
<div style="display: flex;"></div>
<mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;">
    <mat-dialog-content>
        <mat-card-header>
            <mat-card-title>
                {{movie.Title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{movie.Director[0].Name}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-subtitle><img src={{movie.Image}}></mat-card-subtitle>
        <mat-card-actions>
            <button mat-button (click)="getGenre(movie.Genre[0].Name, movie.Genre[0].Description)" color="primary">
                Genre
            </button>
            <button mat-button (click)="getDirector(movie.Director[0].Name, movie.Director[0].Bio)" color="primary">
                Director
            </button>
            <button mat-button (click)="getSynopsis(movie.Description)" color="primary">
                Synopsis
            </button>

            <button *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)">
                <mat-icon>favorite_border</mat-icon>
            </button>

            <button *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)">
                <mat-icon>favorite</mat-icon>
            </button>

        </mat-card-actions>
    </mat-dialog-content>
</mat-card>